In [1]:
# for basic mathematics operation 
import numpy as np

# for dataframe manipulations
import pandas as pd

# for Data Visualizations
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')

data=pd.read_csv("data.csv")

In [2]:
data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

# New Section

In [3]:
data.tail()

        N   P   K  temperature   humidity        ph    rainfall   label
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

In [4]:

# test classification dataset
from collections import Counter
from sklearn.datasets import make_classification
# define dataset
X, y = make_classification(n_samples=1000, n_features=10, n_informative=5, n_redundant=5, n_classes=3, random_state=1)
# summarize the dataset
print(X.shape, y.shape)
print(Counter(y))

(1000, 10) (1000,)
Counter({1: 334, 2: 334, 0: 332})

In [5]:
y = data['label']
x=data.drop(['label'], axis = 1)


#lets check the shape of the dataset 
print("Shape of x: ", x.shape)
print("Shape of y: ", y.shape)

Shape of x:  (2200, 7)
Shape of y:  (2200,)

In [6]:
data['label']. value_counts()

maize          100
mothbeans      100
mungbean       100
lentil         100
banana         100
muskmelon      100
coconut        100
watermelon     100
pomegranate    100
cotton         100
jute           100
chickpea       100
orange         100
blackgram      100
coffee         100
papaya         100
rice           100
apple          100
pigeonpeas     100
mango          100
kidneybeans    100
grapes         100
Name: label, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 0)

print("Shape of xtrain:", x_train.shape)
print("Shape of xtest:", x_test.shape)
print("Shape of ytrain:", y_train.shape)
print("Shape of ytest:", y_test.shape)

Shape of xtrain: (1760, 7)
Shape of xtest: (440, 7)
Shape of ytrain: (1760,)
Shape of ytest: (440,)

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report 

model = LogisticRegression()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

cr = classification_report(y_pred, y_test)
print(cr)

              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        18
      banana       1.00      1.00      1.00        18
   blackgram       0.82      0.86      0.84        21
    chickpea       1.00      1.00      1.00        23
     coconut       1.00      1.00      1.00        15
      coffee       1.00      1.00      1.00        17
      cotton       1.00      0.89      0.94        18
      grapes       1.00      1.00      1.00        18
        jute       1.00      0.84      0.91        25
 kidneybeans       1.00      1.00      1.00        20
      lentil       0.94      0.94      0.94        17
       maize       0.89      0.94      0.91        17
       mango       1.00      1.00      1.00        21
   mothbeans       0.92      0.88      0.90        26
    mungbean       1.00      1.00      1.00        17
   muskmelon       1.00      1.00      1.00        23
      orange       1.00      1.00      1.00        23
      papaya       0.95      1.00      0.98        20
  pigeonpeas       1.00      1.00      1.00        22
 pomegranate       1.00      1.00      1.00        23
        rice       0.84      1.00      0.91        21
  watermelon       1.00      1.00      1.00        17

    accuracy                           0.97       440
   macro avg       0.97      0.97      0.97       440
weighted avg       0.97      0.97      0.97       440

C:\Users\aksha\anaconda6\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [9]:
ar= [20, 30, 10, 15, 90, 7.5, 100]

In [10]:
prediction = model.predict(np.array([[20, 30, 10, 15, 90, 7.5, 100]]))
prediction

array(['orange'], dtype=object)